<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <ul>
        @foreach (var livro in ViewBag.Lidos)
        {
           <li>@livro.Autor - @livro.Titulo</li>;
        }
    </ul>
</body>
</html>