<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cadastro Novo Livro</title>
</head>
<body>
    <form action="/cadastro/incluir" method="post">
        <label>Título</label>
        <input name="titulo">
        <br>
        <label>Autor</label>
        <input name="autor">
        <br>
        <button>Gravar</button>
    </form>
</body>
</html>